<div class="p-6">
  <h3 class="font-medium text-lg">Landing Pages</h3>
  <ul role="list" class="divide-y divide-gray-100">
    @for (page of pages; track $index) {
    <a
      class="group flex justify-between gap-x-6 py-5"
      routerLink="{{ page.route }}"
    >
      <div class="flex items-center min-w-0 gap-x-4">
        <div
          class="h-12 w-12 flex items-center justify-center rounded-full bg-gray-50 group-hover:bg-[#e0eae8]"
        >
          {{ page.name.charAt(0).toUpperCase() }}
        </div>
        <div class="min-w-0 flex-auto">
          <p
            class="text-sm font-semibold leading-6 text-gray-900 group-hover:text-[#1c3f3a]"
          >
            {{ page.name }}
          </p>
        </div>
      </div>
    </a>
    }
  </ul>
</div>
